body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url("https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dG8lMjBkbyUyMGxpc3R8ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000");

	background-size: cover; /* Makes the image cover the entire page */
	background-position: center; /* Centers the image */
	background-repeat: no-repeat; /* Prevents tiling */
	background-attachment: fixed; /* Keeps image fixed when scrolling (optional) */
	height: 100vh; /* Ensures the body takes full viewport height */
	margin: 0; /* Removes default margin */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
